#info h1 {
	text-align: center;
	margin-top: 0;
}

#info {
	text-align: left;
	padding: 30px 50px;
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -500px;
	background-color: rgb(27,34,32);
	-webkit-transition: left .5s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition: left .5s cubic-bezier(0.23, 1, 0.32, 1);
	        transition: left .5s cubic-bezier(0.23, 1, 0.32, 1);
	color: #eee;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: 0;
	font-size: 0.95em;
}

#info.open {
	left: 0;
}

#info a {
	color: #eee;
}

#info_btn {
	position: absolute;
	top: 2%;
	left: 2%;
	z-index: 100;
	display: inline-block;
	margin-right: 10px;
	background-color: rgb(27,34,32);
	color: #ddd;
	-webkit-transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
	        transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
	cursor: pointer;
	padding: 5px 10px;
	box-shadow: 0 0 3px rgba(255,255,255,0.15);
	letter-spacing: 2em;
	width: 0.3em;
	overflow: hidden;
	text-align: left;
}

#info_btn:hover {
	color: #fff;
	box-shadow: none;
	letter-spacing: 0;
	width: 1.6em;
}
